@charset "UTF-8";

/*
    전체스타일
*/
* {
	box-sizing: border-box;
	font-family: binggrae;
}

/*
    웹 폰트 설정
    1. 폰트를 등록한다(@font-face)
    2. 등록된 폰트를 설정한다(font-family)
*/
@font-face {
	font-family: binggrae;
	src: url("../font/Binggrae.ttf");
}

/*
    모달화면 디자인
    - 초기에는 미표시 상태로 구현되어 있음
    - .modal에 display:block으로 변경하면 표시됨
    - 모달창의 투명도는 50%
    - 모달화면의 크기는 300x400(조정가능)
*/
.modal {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: none;
	display: none;
	z-index: 200;
}

.modal>.modal-view {
	position: fixed;
	width: 350px;
	height: 500px;
	background-color: rgba(0, 0, 0, 0.7);
	top: 35%;
	left: 50%;
	margin-left: -150px;
	margin-top: -200px;
	z-index: 200;
}

/*반응형 갤러리 */
.gallary::after {
	content: "";
	display: block;
	clear: both;
}

.gallary>.gallary-item {
	float: left;
	width: 20%;
	padding: 5px;
}

.gallary>.gallary-item img {
	width: 100%;
}

@media screen and (max-width:720px) {
	.gallary>.gallary-item {
		width: 50%;
	}
}

@media screen and (max-width:540px) {
	.gallary>.gallary-item {
		width: 100%;
	}
}

a {
	text-decoration: none;
	color: black;
}

.sohee-title {
	color: white;
	background-color: #F98967;
	opacity: 100%;
	padding: 10px;
	font-size: 14px;
	text-decoration: none;
}

/* 소희-카테고리 이미지 라운드로 */
.gallary>.gallary-item>.category-image>a>img {
	width: 100%;
	border-radius: 50%;
	text-decoration: none;
}

/* 소희-상품 이미지 라운드주기         */
.gallary>.gallary-item>a>img {
	border-radius: 3%;
	text-decoration: none;
}

/* 소희-상품 카테고리글꼴스타일       */
.gallary-text-category span{
	color: grey;
	font-size: 10px;
	padding: 5px;
	text-decoration: none;
}

/* 소희-상품명 글꼴스타일       */
.gallary-text-content > p, span {
	color: black;
	font-size: 14px;
	padding: 5px;
	text-decoration: none;
	overflow:hidden;
}

/* 소희-상품 가격 글꼴스타일       */
.gallary-text-cost {
	color: black;
	font-size: 14px;
	font-weight: bold;
	padding: 5px;
	border-radius: 10%;
	text-decoration: none;
}

/* 소희-회색 테두리 ,필요하       */
.gallary-border {
	border: 1px solid grey;
	text-decoration: none;
}

.gallary>.gallary-item>.gallary-text>h4 {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.gallary>.gallary-item>.gallary-text>p {
	word-break: break-all;
}

/*개발용 설정 : 영역에 점선이 출력되도록 처리*/
body[test] main, body[test] header, body[test] nav, body[test] section,
	body[test] footer, body[test] article, body[test] aside, body[test] div,
	body[test] span, body[test] label, body[test] p {
	border: 1px dotted black;
}

/*
            화면 레이아웃
            - 전체 화면은 1000px로 한다
            - 홈페이지는 브라우저 가운데 위치한다
            - 영역별 내부 여백은 글자 2개 높이만큼으로 한다
        */
body {
	width: 1200px;
	margin: auto;
}

header, section, footer {
	padding: 2rem;
}

header {
	padding-bottom:0px;
}
/*--------------------------------------------------------------------------------------*/
/*
            내부영역 스타일
            - section 내부에 화면을 배치할 때 필요한 구성요소들을 미리 디자인
            - 영역(article) - 폭을 숫자로 지정할 수 있도록 구성
        */
.w-100 {
	width: 100%;
}

.w-90 {
	width: 90%;
}

.w-80 {
	width: 80%;
}

.w-70 {
	width: 70%;
}

.w-60 {
	width: 60%;
}

.w-50 {
	width: 50%;
}

.w-40 {
	width: 40%;
}

.w-30 {
	width: 30%;
}

.w-20 {
	width: 20%;
}

.w-10 {
	width: 10%;
}

article {
	margin: auto;
}

.row {
	margin: 10px 0px;
	text-align: center;
}

.row>* {
	width: 100%;
}

.row-empty {
	height: 20px;
}

.row-left {
	text-align: left;
}

.row-right {
	text-align: right;
}

.swiper-container {
	width: 100%;
}

.swiper-container img {
	width: 100%;
}

.menu .main {
	display: inline-block;
	cursor: pointer;
	margin-left: 10px;
	font-size: 1.2rem;
}

.menu ul {
	margin: 0px;
	padding: 0px 20px 0px 0px;
	text-align: right;
}

.menu li ul {
	display: none;
	height: auto;
	padding: 10px;
	margin: 0px 0px 0px 100px;
	border: 0px;
	position: absolute;
	width: 100px;
	z-index: 200;
	background-color: rgba(255, 255, 255, 0.8);
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.menu li:hover ul {
	display: block;
}

.sub {
	display: block;
	padding: 5px;
	text-align: center;
	font-size: 1rem;
}

.logo img {
	width: 700px;
}

li img {
	width: 10px;
}

.closebtn {
	font-size: 2rem;
	color: white;
	margin: 10px;
	margin-right: auto;
	cursor: pointer;
}

input[name=id], input[name=pw] {
	border: none;
	width: 310px;
	background: transparent;
	color: white;
	margin: 0;
	padding: 8px;
	font-size: 1.2rem;
	outline: none;
}

p {
	margin: 0px;
	color: white;
	font-size: 0.8rem;
}

.modalbtn {
	background-color: transparent;
	border: 2px white solid;
	color: white;
	width: 100%;
	padding: 10px;
}

.modalbtn.regist {
	height: 120px;
}

.modalbtn, .a:focus {
	outline: none;
}